<%- include('../includes/_header.ejs') %>
<main>
    <div id="flash__edited" role="alert" hidden></div>
    <div id="flash__added" role="alert" hidden></div>
    <div id="flash__deleted" role="alert" hidden></div>

    <div class="products">
        <div class="card">
            <div class="card-header">
                <h3>Products</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table width="100%">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Name</td>
                                <td>Category</td>
                                <td>Price</td>
                                <td>Images</td>
                                <td>Actions</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (products.length > 0) { %>
                                <% for (let prod of products) { %>
                                    <tr>
                                        <td>
                                            <%= prod.pid %>
                                        </td>
                                        <td>
                                            <%= prod.name %>
                                        </td>
                                        <td>
                                            <%= prod.category %>
                                        </td>
                                        <td>
                                            <%= prod.price %>$
                                        </td>
                                        <td>
                                            <%= prod.images %>
                                        </td>
                                        <td>
                                            <a href="/admin/product/<%= prod.pid %>" title="Edit"><span class="las la-edit"></span></a>
                                            <a onclick="deleteProduct('<%= prod.pid %>')"><span class="las la-trash"></span></a>
                                        </td>
                                    </tr>
                                <% } %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('../includes/_footer.ejs') %> 