<%- include('../includes/_header.ejs') %>
<main>

    <div class="users">
        <div class="card">
            <div class="card-header">
                <h3>Users</h3>
            </div>
            <div class="card-body">
                <% if (users.length > 0) { %>
                    <% for (let user of users) { %>
                        <div class="customer">
                            <div class="info">
                                <img src="/images/photo.png" width="30px" height="30px" alt="">
                                <div>
                                    <h4><%= user.username %></h4>
                                    <small>#<%= user.uid %></small>
                                </div>
                            </div>
                            <div class="contact">
                                <a href="/admin/messages/<%= user.uid %>"><span style="font-size: 0.8rem;"><%= user.email %></span><span class="las la-comment"></span></a>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
</main>
<%- include('../includes/_footer.ejs') %> 