<%- include('../includes/head.ejs') %>
    <script>
        if (!(sessionStorage.getItem('user__data'))) {
                window.location.href = '/auth/login';
        }
    </script>
    <h1 class="text-center">Admin Page</h1>

    <main>
        <section class="add__product">
            <a href="/admin/add" class="btn btn-primary">Add Product</a>
        </section>
        <section class="products">
            <% if (products.length> 0) { %>
                <div style="margin: 10px;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Category</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let prod of products) { %>
                                <tr>
                                    <th scope="row">
                                        <%= prod.id %>
                                    </th>
                                    <td>
                                        <%= prod.name %>
                                    </td>
                                    <td>
                                        <%= prod.price %>$
                                    </td>
                                    <td>
                                        <%= prod.category %>
                                    </td>
                                    <td>
                                        <a href="/admin/edit/<%= prod.id %>" class="btn btn-primary btn-sm">Edit</a>
                                        <button class="btn btn-danger btn-sm"
                                            onclick="deleteProduct('<%= prod.id %>')">Delete</button>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                </div>
                <% } else { %>
                    <h1>No product</h1>
                    <% } %>
        </section>
        <script src="/js/admin.js"></script>
    </main>
    <%- include('../includes/end.ejs') %>