<%- include('./head_admin.ejs') %>
    <main>
        <div class="recent-grid messages-grid">  
            <div class="rooms">
                <div class="card">
                    <div class="card-header">
                        <h3>Messages</h3>
                    </div>
                    <div class="card-body" style="height: 500px; overflow-y: scroll ;">
                        <% if (rooms.length > 0) { %>
                            <% for (let room of rooms) { %>
                                <div class="customer room" id="<%= room.uid %>">
                                    <a href="/admin/messages/<%= room.uid %>">
                                        <div class="info">
                                            <img src="/images/photo.png" width="40px" height="40px" alt="">
                                            <div>
                                                <h4><%= room.username %></h4>
                                                <small class="<% if (!room.read) { %>unread<% } %>"><%= room.lastMsg %></small>
                                            </div>
                                        </div>
                                    </a>
                                    
                                </div>
                            <% } %>                            
                        <% } %>
                        
                    </div>
                </div>
            </div>  
            <div class="messages">
                <% if(displayMsg) { %>
                    <% if (messages) { %>
                        <div class="card">
                            <div class="card-header">
                                <h3><%= uid %></h3>
                            </div>
                            <div id="scrollThing" class="card-body" style="height: 500px; overflow-y: scroll ;">
                                <ul id="msg_list">
                                    <% for (let msg of messages) { %>
                                        <% if (msg.sid == uid) { %>
                                            <li><p class="msg_left"><%= msg.message %></p></li>
                                        <% } else { %>
                                            <li><p class="msg_right"><%= msg.message %></p></li>
                                        <% } %>
                                    <% } %>
                                </ul>                        
                                <div class="form_msg" id="form_msg">
                                    <form action="">
                                        <input id="form_msg_input" type="text" placeholder="Enter your message">
                                        <button type="submit" id="form_msg_btn" class="btn btn-success">Send</button>
                                    </form>
                                </div>
                            </div>
                    </div>
                    <% } %>
                <% } %>
        <script src="/js/admin/chat.js"></script>
        </div>
        
    </main>
    <%- include('./end_admin.ejs') %>