<%- include('../includes/_header.ejs') %>

<main>
    <h1 class="text-center">Product Page</h1>
    <section class="products" style="display: flex;">
        <% if (products.length > 0) { %>
            <div>
                <% for (let prod of products) { %>
                    <div
                        class="card"
                        style="width: 15rem; float: left; margin: 1rem; border: 1px solid rgb(0, 98, 128); cursor: pointer;"
                        onclick="product__click()"
                        prodId="<%= prod.id %>"
                    >
                        <img class="card-img-top" src="/resources/<%= prod.images %>" alt="" style="max-height: 150px;">
                        <div class="card-body">
                          <h5 class="card-title"><%= prod.name %></h5>
                          <p class="card-text"><%= prod.price %>$</p>
                        </div>
                    </div>
                <% } %>
            </div>
            
        <% } else { %>
            <h1>No product</h1>
        <% } %>
    </section>
    <section class="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <input type="hidden" id="numpage" value="<%= numpage %> ">
                <li class="page-item"><a class="page-link" id='prev_link'>Previous</a></li>
                <% if (numpage) { %>
                    <% for (let i = 1; i <= numpage; i++) { %>
                        <li class="page-item"><a class="page-link" href="/product/page/<%= i %>"><%= i %></a></li>
                    <% } %> 
                <% } %>
                <li class="page-item"><a class="page-link" id='next_link'>Next</a></li>
            </ul>
        </nav>
    </section>
    <script src='/js/shop-product.js'></script>
</main>
<%- include('../includes/_footer.ejs') %>